# The app itself

-e .


# Runtime dependencies

Django>=1.8,<1.9
django-cms==3.2.1


# Example app
django-bootstrap3>=6.2.2


# CMS Plugins
djangocms-file>=0.2.0
djangocms-inherit>=0.1.1
djangocms-link>=1.7.1
djangocms-picture>=0.2.0
djangocms-snippet>=1.7.1
djangocms-teaser>=0.2.0
djangocms-text-ckeditor>=2.8.1


# CMS Optional, recommended packages
Pillow==3.1.1
django-filer==1.1.1
cmsplugin-filer==1.0.1
django-reversion==1.10,<1.11